
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>explr | App Landing Page</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!-- PRELOADER -->
    <div class="spn_hol">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

 <!-- END PRELOADER -->

 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">ABOUT </a> </li>
                            <li><a href="#PRICING">PRICING </a> </li>
                            <li><a href="#CONTACT">CONTACT </a> </li>
                        </ul>
                    </div>

                </div>

            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">

                            <img src="assets/explr_logo.png" width="125" height="55"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="home_text">

                            <h1></h1>
                            <h2 style="color:#f39c12">Focus on our Similarities,<br> Learn from our differences</h2>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>Uncover your unique personality traits, find the best venues around to meet like minded people naturally and connect with people that help you grow in the parts of your lives that matter most.</p>

                            <div class="download-btn">

                                <a class="btn home-btn wow fadeInLeft" href="#CONTACT">Get in Touch</a>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-md-offset-1 col-sm-4">
                        <div class="home-iphone">
                            <img src="images/iPhone_Home.png" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>






 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>About Us</h2>
                        <p>We believe the world would be a better place if individuals focused on our similarities and instead learned from our differences.  This is what explr aims to accomplish by helping people focus internally first in order to create the awareness to become the best version of yourself.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="assets/explrhp.png" width="300"/>
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- TITLE -->
                        <div class="inner_about_title">
                          <h2>Our Methodology  <br> </h2>
                        </div>
                        <div class="inner_about_desc">

                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-timer"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3> explr yourself</h3>
                               <p>Through our unique process, you'll uncover your personality traits, interests and values you care about the most. You'll also learn new things about yourself that you might not have known before.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>explr your environment</h3>
                                <p>Based on your personalized results, receive recommendations to the best places around town where you'll organically run into others who share your same interests and values.</p>
                            </div>
                            <!-- END SINGLE DESC -->


                            <!-- SINGLE DESC -->
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                                <!-- ICON -->
                                <div><i class="pe-7s-stopwatch"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>explr each other</h3>
                               <p>Meeting like minded people while traveling makes travel experience better. We'll connect you up with like-minded people that help you grow in the parts of your life you value most.</p>
                            </div>
                            <!-- END SINGLE DESC -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->



<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>explr personality test</h2>

                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                        <!-- FEATURE -->

                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>EASY TO USE<span>/</span></h3>
                            <p>We hand picked the best and most effective tests to save you time and energy. </p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-science"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Modern application<span>/</span></h3>
                            <p>Get useful insight that is applicable to your life today.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="left_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-look"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3>Minimal Layout<span>/</span></h3>
                            <p>A design that adds value to your life.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    <div class="col-md-4">
                        <div class="feature_iphone">
                            <!-- FEATURE PHONE IMAGE -->
                            <img class="wow bounceIn" data-wow-duration="1s" src="assets/explrhp.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Fun to Play</h3>
                            <p>Have fun learning new and old things about yourself.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-phone"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Connection Ready</h3>
                             <p>Connect with social media connections to share your results.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Accurate Result</h3>
                            <p>All tests are developed through years of research and development.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->


<!-- PRICING -->
<section id="PRICING" style="margin-left: 270px">
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <br>
    <div class="cd-pricing-container cd-has-margins">
      <ul class="cd-pricing-list">
        <li>
          <header class="cd-pricing-header">
            <h2>Free</h2>

            <div class="cd-price">
              <span class="cd-currency">$</span>
              <span class="cd-value">0</span>
              <span class="cd-duration">mo</span>
            </div>
          </header> <!-- .cd-pricing-header -->

          <div class="cd-pricing-body">
            <ul class="cd-pricing-features">
              <li><em>3</em> Quizzes</li>
              <li><em>1</em> Recommendation </li>
              <li><em>1</em> Meet Up</li>
              <li><em>1</em> Free Support</li>


            </ul>
          </div> <!-- .cd-pricing-body -->
        </li>
        <li class="cd-popular">
          <header class="cd-pricing-header">
            <h2>Premium</h2>

            <div class="cd-price">
              <span class="cd-currency">$</span>
              <span class="cd-value">50</span>
              <span class="cd-duration">mo</span>
            </div>
          </header> <!-- .cd-pricing-header -->

          <div class="cd-pricing-body">
            <ul class="cd-pricing-features">
              <li><em>Unlimited</em> Quizzes</li>
              <li><em>Unlimited</em> Recommendations </li>
              <li><em>Unlimited</em> Meet Ups</li>
              <li><em>24/7</em> Support</li>
            </ul>
          </div> <!-- .cd-pricing-body -->
        </li>
      </ul> <!-- .cd-pricing-list -->
    </div> <!-- .cd-pricing-container -->
  </body>
  </html>
</section>


<!-- =========================
     START CONTCT FORM AREA
============================== -->
    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>Get in touch</h2>
                        <p>We always look forward to hear from the people we are building this for so please reach out to us if you’d like to start a conversation!</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Please Enter your name</div>
                        <div class="email_error hide error">Please Enter your Email</div>
                        <div class="email_val_error hide error">Please Enter a Valid Email Address</div>
                        <div class="message_error hide error">Please Enter Your Message</div>
                    </div>
                    <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>


                            <div class="col-md-8">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>
          </div>
      </div>
      <section class= "myinfo">
        <div class= "contactinfo text-center">
          <a href="http://www.facebook.com/explr.co" target="_blank" style="color: #3b5998"><%= fa_icon "facebook-official 3x" %></a>
            <hr class= "break2">
            </hr>
        </div>
        <div class= "contactinfo text-center">
          <a href="https://www.instagram.com/explr.co/" target="_blank" style="color: #3b5998"><%= fa_icon "instagram 3x" %></a>
            <hr class= "break2">
            </hr>
        </div>
        <div class= "contactinfo text-center">
          <a href="https://twitter.com/explrco" target="_blank" style="color: #3b5998"><%= fa_icon "twitter 3x" %></a>
            <hr class= "break2">
            </hr>
        </div>
      </section>
    <!-- END CONTACT -->

<!-- =========================
     Start Subscription Form
============================== -->



    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>SUBSCRIBE US</h2>
                            <p>Subscribe to our newsletter to be the first to receive news, updates and stories we share as we continue to build explr for you. </p>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row  wow lightSpeedIn">
                    <div class="col-md-6 col-md-offset-3">
                        <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                        <div class="subscription-success"></div>
                        <div class="subscription-error"></div>


                        <form id="mc-form" class="subscribe_form">
                            <div class="form-group">
                                <!-- EMAIL INPUT BOX -->
                                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Email Address">
                            </div>

                                <!-- SUBSCRIBE BUTTON -->
                            <button type="submit" class="btn btn-default subs-btn">Submit</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 2016. All Rights Reserved.</p>
                        <p>explr</a></p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER -->


<!-- =========================
     SCRIPTS
============================== -->


    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.js"></script>
    <script src="/assets/jquery.fitvids.js"></script>
    <script src="/assets/smoothscroll.js"></script>
    <script src="/assets/jquery.parallax-1.1.3.js"></script>
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <script src="/assets/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/wow.min.js"></script>
    <script src="/assets/waypoints.min.js"></script>
    <script src="/assets/jquery.counterup.min.js"></script>
    <script src="/assets/script.js"></script>



</body>

</html>
