<h1> Welcome To Explr's Personality Test </h1>

<h2> a) Am the life of the party </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> b) Talk to a lot of different people at parties </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> c) Don't talk a lot </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> d) Keep in the background </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> e) Sympathize with others' feelings </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> f) Feel others' emotions </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> g) Am not really interested in others </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> h) Am not interested in other people's problems </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> i) Get chores done right away </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> j) Like order </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> k) Often forget to put things back in their proper place </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> l) Make a mess of things </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> m) Have frequent mood swings </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> n) Get upset easily </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> o) Am relaxed most of the time </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> p) Seldom feel blue </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> q) Have a vivid imagination </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> r) Have difficulty understanding abstract ideas </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> s) Am not interested in abstract ideas </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
<h2> t) Do not have a good imagination </h2>
  <button name="commit">
    Strongly Agree
  </button>
  <button name="commit">
    Strongly Disagree
  </button>
